@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {



  .content-grid {
    display: grid;
    
    grid-template-columns: [full-start left-start] 1fr [breakout-start] 1fr [content-start] 30vw [left-end right-start] 30vw [content-end] 1fr [breakout-end] 1fr [full-end right-end];
  }
  .bgImage {
    background-image: url("/emirates.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width:100%;
    position:relative;
  }
  .bgImage::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    
  }

  .content-grid .full {
    display: grid;
    grid-column: full;
    grid-template-columns: subgrid;
  }
  .breakout {
    grid-column: breakout;
  }
  .content {
    grid-column: content;
  }
  
  .card {
    display: grid;
    z-index: 20;
    grid-template-columns: subgrid;
  }
  .card--left {
    grid-column: left;
    margin-top: -3em;
  }
  .left {
    min-height: 48px;
   
    grid-column: breakout / left;
  }
  .card--right {
    grid-column: right;
    align-self: start;
  }
  .border-before {
    @apply relative before:content-[''] before:absolute before:h-[calc(75%)] before:border-l-4 before:border-l-[red] before:border-solid before:-left-3 before:top-1;
  }
  .current {
    @apply text-white;
  }
  .current::after {
    @apply w-0 h-0 border-t-white content-["_"] absolute top-0 border-t-[15px] border-x-[15px] border-x-transparent border-solid -translate-x-2/4  left-2/4 ;

  }
  .right {
    height: 48px;
    grid-column: right / full;
    display: grid;
    grid-template-columns: subgrid;
  }
  .rightcon {
    grid-column: right / breakout;
    
  }
  .hero {
    position: relative;
    background-image: url("/emirates.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  :root {    --background: 0 0% 100%;    --foreground: 20 14.3% 4.1%;    --card: 0 0% 100%;    --card-foreground: 20 14.3% 4.1%;    --popover: 0 0% 100%;    --popover-foreground: 20 14.3% 4.1%;    --primary: 24 9.8% 10%;    --primary-foreground: 60 9.1% 97.8%;    --secondary: 60 4.8% 95.9%;    --secondary-foreground: 24 9.8% 10%;    --muted: 60 4.8% 95.9%;    --muted-foreground: 25 5.3% 44.7%;    --accent: 60 4.8% 95.9%;    --accent-foreground: 24 9.8% 10%;    --destructive: 0 84.2% 60.2%;    --destructive-foreground: 60 9.1% 97.8%;    --border: 20 5.9% 90%;    --input: 20 5.9% 90%;    --ring: 20 14.3% 4.1%;    --radius: 0.5rem;  }   .dark {    --background: 20 14.3% 4.1%;    --foreground: 60 9.1% 97.8%;    --card: 20 14.3% 4.1%;    --card-foreground: 60 9.1% 97.8%;    --popover: 20 14.3% 4.1%;    --popover-foreground: 60 9.1% 97.8%;    --primary: 60 9.1% 97.8%;    --primary-foreground: 24 9.8% 10%;    --secondary: 12 6.5% 15.1%;    --secondary-foreground: 60 9.1% 97.8%;    --muted: 12 6.5% 15.1%;    --muted-foreground: 24 5.4% 63.9%;    --accent: 12 6.5% 15.1%;    --accent-foreground: 60 9.1% 97.8%;    --destructive: 0 62.8% 30.6%;    --destructive-foreground: 60 9.1% 97.8%;    --border: 12 6.5% 15.1%;    --input: 12 6.5% 15.1%;    --ring: 24 5.7% 82.9%;  }
}



body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}
