@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .content-grid {
    display: grid;
    
    grid-template-columns: [full-start left-start] 1fr [breakout-start] 1fr [content-start] 30vw [left-end right-start] 30vw [content-end] 1fr [breakout-end] 1fr [full-end right-end];
  }
  .bgImage {
    background-image: url("/emirates.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content-grid .full {
    display: grid;
    grid-column: full;
    grid-template-columns: subgrid;
  }
  .breakout {
    grid-column: breakout;
  }
  .content {
    grid-column: content;
  }
  
  .card {
    display: grid;
    z-index: 20;
    grid-template-columns: subgrid;
  }
  .card--left {
    grid-column: left;
    margin-top: -3em;
  }
  .left {
    min-height: 48px;
   
    grid-column: breakout / left;
  }
  .card--right {
    grid-column: right;
    align-self: start;
  }
  .border-before {
    @apply relative before:content-[''] before:absolute before:h-[calc(75%)] before:border-l-4 before:border-l-[red] before:border-solid before:-left-3 before:top-1;
  }
  .current {
    @apply text-white;
  }
  .current::after {
    @apply w-0 h-0 border-t-white content-["_"] absolute top-0 border-t-[15px] border-x-[15px] border-x-transparent border-solid -translate-x-2/4  left-2/4 ;

  }
  .right {
    height: 48px;
    grid-column: right / full;
    display: grid;
    grid-template-columns: subgrid;
  }
  .rightcon {
    grid-column: right / breakout;
    
  }
  .hero {
    position: relative;
    background-image: url("/emirates.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  .img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  -background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
